<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      h1 {text-align: center; color: #ff3864} p { margin: 16px ; color: #2de2e6;
      text-align: center; font-size: 20px; } a {font-size: 16px; color:
      #ff3864;} .bg-dark { background-color:#0d0221; } .rounded {border-radius:
      12px} .p-3 {padding: 24px;} .m-3 {margin: 24px;}
    </style>
  </head>
  <body>
    <div class="bg-dark rounded p-3">
      <h1 class="">Home Game Password Reset</h1>
      <div class="m-3">
        <p class="">Hi {{username}},</p>
        <p class="">You requested a password reset for Home Game. If you didn't
          request this action, please disregard this email.</p>
        <p class="">To reset your password, use the link below:</p>
        <p class=""><a href="{{link}}">Reset Password</a></p>
      </div>
    </div>
  </body>
</html>